html{
    font-size: 10px;
    background: url(https://i.pinimg.com/originals/d6/68/ab/d668abc72809303852c27275e6a56775.gif) ;
}

body,html{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
#virtual{
    color: rgba(255, 255, 255, 0.623);
    text-align: center;
    font-size: 50px;
    margin-bottom: 10px;
}
.keys{
    color: rgb(253, 198, 198);
    display: flex;
    flex: 2;
    min-height: 5vh;
    align-items: center;
    justify-content: center;
}

.key{
    border: .2rem solid rgba(255, 255, 255, 0.808);
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    background-color: rgba(62, 232, 241, 0.212);
    text-shadow: 0 0 .5rem black;
}

.kbd{
    display: block;
    font-size: 4rem;align-self: auto;
}



.playing{
    transform: scale(1.2);
    border-color: #c1eb0a;
    box-shadow: 0 0 1rem #ffc400;
}