html{
    background: url(http://static.hdw.eweb4.com/media/wallpapers_dl/1/36/350520-background-color.jpg) center;
    background-size: cover;
    font-family: 'helvetica neue';
    text-align: center;
    font-size: 10px;
}

body{
    background: url(https://pre00.deviantart.net/7a51/th/pre/i/2015/168/3/3/clock_face_7_by_stephenjohnsmith-d8xmna3.png) center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0px;
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
}

.clock{
    width: 40rem;
    height: 40rem;
    border: 20px solid rgba(255, 255, 255, 0);
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 3rem;
    box-shadow: 0 0 0 4px rgba(0,0,0,0.1) inset 0 0 03px #EFEFEF,  inset 0 0 10px black,
    0 0 10px rgba(0,0,0,0.2);
}
.hour-hand
{
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
}
.clock-face{
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
}

.hand{
    width: 50%;
    height: 6px;
    background-color: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.01s;
    transition-timing-function: cubic-bezier(0.1,2.7,0.58,1);
}